
.Nav {
  z-index: 10;
  height: 80px;
  width: 100%;
  /* background-color: #003049; */
  background-color: var(--prime);
  position: sticky;
  top: 0%;
  left: 0%;
  box-shadow: 1px 1px 2px;
}
.navlist,
.navitems {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.navlist {
  justify-content: space-between;
}

.logo {
  height: 75px;
  margin: 0px 20px;
}
.navlist .text {
  color: white;
  font: bold 20px ;
  text-decoration: none;
}
.navlist button {
  cursor: pointer;
}

.navlist .search {
  cursor: cell;
  height: 40px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.navlist .search > * {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
}
.navlist .search input {
  padding: 20px 10px 20px 20px;
  font-size: 20px;
}

.navlist .search button {
  padding: 10px;
}
.navlist .search button:hover {
  background-color: rgba(245, 222, 179, 0.6);
}
.search-input{
  width: 130px;
  transition: width 0.2s ease-in-out;
}
.search-input.expanded {
  width: 400px;
}
.search.expanded{
  border-radius: 5px;
}
.navlist .signIn {
  font-weight: 600;
  font-family: 'roboto';
  padding: 8px;
  background-color: white;
  border: 1px solid;
  border-radius: 15px;
}

.light{
  --mode-button:linear-gradient(white,whitesmoke);
  --mode-button-shadow:0px 1px 5px 1px black;
}
.dark{
  --mode-button:rgba(245, 245, 245, 0.7);
  --mode-button-shadow:0px 0px 3px 4px white;
}

.navlist .mode{
  height: 30px;
  width: 30px;
  padding: 3px;
  background: var(--mode-button);
  box-shadow: var(--mode-button-shadow);
  border-radius: 20%;
  border: none;
  outline: none;
}
.navlist .mode img{
  width: 100%;
}

.right-nav{
  display: flex;
  gap: 30px;
  margin: 0px 50px 0px 0px;
  align-items: center;
}