
.light{
  --prime:#003049;
  --textColor:white;
  --bg-body:#e5e5e5;
  --box-shadow:rgba(0,0,0,0.5);
  --bg-beside:#e5e5e5a0;
}
.dark{
  --prime:black;
  --textColor:white;
  /* --bg-body:rgba(0, 0, 0, 0.85); */
  --bg-body:#252525;
  --bg-beside:#252525a0;
  --box-shadow:rgb(255, 255, 255,0.8);
}

.main_background{
  width: 100%;
  height: 100%;
  background-color: var(--bg-beside);
  /* background-color: aqua; */
}
.light,.dark{
    background-color: var(--bg-body);
}
.app{
  min-height: 100vh;
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  /* padding: 20px; */
  box-sizing: border-box;
}