*{
    box-sizing: border-box;margin: 0;padding: 0%;
}
body{
    
    background-color: #e5e5e550;
    font-family: "roboto","Roboto-fallback", Arial;
}
button{
    cursor: pointer;
}

body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background: white;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);

}